<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<dict>
		<key>Grassland</key>
		<dict>
			<key>Properties</key>
			<dict>
				<key>CameraFollowsPlayer</key>
				<true/>
				<key>CameraOffset</key>
				<string>{0, 0}</string>
				<key>ContinuePoint</key>
				<true/>
				<key>DisableAttack</key>
				<false/>
				<key>Clear</key>
				<dict/>
				<key>Rewards</key>
				<dict>
					<key>Health</key>
					<string></string>
					<key>Projectile / Weapon</key>
					<string></string>
					<key>Inventory</key>
					<string></string>
					<key>Currency</key>
					<string></string>
					<key>Class</key>
					<string></string>
				</dict>
			</dict>
			<key>NPC</key>
			<dict>
				<key>Villager1</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Did you hear about the disturbance at the cave last night</string>
						<string>My brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking on that cave?</string>
						<string>Tick, tock. How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange1</string>
					<key>SpeechTime</key>
					<string>1</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>ColliableWithPlayer</key>
					<false/>
					<key>ColliableWithItems</key>
					<true/>
				</dict>
				<key>Villager2</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Did you hear about the disturbance at the cave last night</string>
						<string>My brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking on that cave?</string>
						<string>Tick, tock. How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange2</string>
					<key>SpeechTime</key>
					<string>1</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
					<key>ColliableWithItems</key>
					<true/>
				</dict>
				<key>Villager3</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>I&apos;m just here to test some things out</string>
						<string>Really! Please stop bothering me.</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>What?!? Did you forget I&apos;m just a test Villager?</string>
						<string>Ugh! Please leave me alone.</string>
					</array>
					<key>Range</key>
					<string>VillagerRange3</string>
					<key>SpeechTime</key>
					<string>1</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
					<key>ColliableWithItems</key>
					<true/>
				</dict>
			</dict>
			<key>Items</key>
			<dict>
				<key>GrasslandCastle</key>
				<dict>
					<key>Requires</key>
					<dict>
						<key>Thing</key>
						<string>CastleKey</string>
						<key>Amount</key>
						<integer>1</integer>
						<key>DeductOnEntry</key>
						<true/>
						<key>TimeToOpen</key>
						<integer>0</integer>
					</dict>
					<key>Rewards - OFF</key>
					<dict>
						<key>Health</key>
						<string></string>
						<key>Weapon</key>
						<string></string>
						<key>Inventory</key>
						<string></string>
						<key>Currency</key>
						<string></string>
						<key>Class</key>
						<string></string>
					</dict>
					<key>Text</key>
					<dict>
						<key>LockedIcon</key>
						<string>CastleIconLocked</string>
						<key>UnlockedIcon</key>
						<string>CastleIconUnlocked</string>
						<key>OpenIcon</key>
						<string>CastleIconOpen</string>
						<key>Locked</key>
						<array>
							<string>Uh oh, looks like the castle requires a key</string>
							<string>Eep! We need a key!</string>
						</array>
						<key>Unlocked</key>
						<string>Hey I think I can open the castle now. Better go find it!</string>
						<key>Open</key>
						<string>I&apos;ve got the castle open</string>
						<key>Time</key>
						<string>3</string>
					</dict>
					<key>PortalTo</key>
					<dict>
						<key>Level</key>
						<string>Dungeon</string>
						<key>Where</key>
						<string>EntryPoint</string>
						<key>Delay</key>
						<integer>2</integer>
					</dict>
					<key>AltPortalTo</key>
					<dict>
						<key>Level</key>
						<string></string>
						<key>Where</key>
						<string>VillagerRange1</string>
						<key>Delay</key>
						<integer>2</integer>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenImage</key>
						<string>CastleOpen</string>
						<key>OpenAnimation</key>
						<string></string>
					</dict>
					<key>AfterContact - OFF</key>
					<dict>
						<key>DeleteFromLevel</key>
						<false/>
						<key>DeleteBody</key>
						<false/>
					</dict>
					<key>RememberTo - OFF</key>
					<dict>
						<key>NeverRewardAgain</key>
						<false/>
						<key>NeverShowAgain</key>
						<false/>
						<key>RemainOpen</key>
						<true/>
						<key>RemoveText</key>
						<false/>
					</dict>
				</dict>
				<key>Chest</key>
				<dict>
					<key>Requires</key>
					<dict>
						<key>TimeToOpen</key>
						<integer>5</integer>
						<key>TimerName</key>
						<string>OpenTimer</string>
					</dict>
					<key>Rewards</key>
					<dict>
						<key>Currency</key>
						<string>10</string>
					</dict>
					<key>Text</key>
					<dict>
						<key>Locked</key>
						<array>
							<string>I think I can open this, give me a second!</string>
							<string>I think I can pick the lock, give me a moment!</string>
						</array>
						<key>Open</key>
						<string>I&apos;ve got the chest open.</string>
						<key>Time</key>
						<string>1</string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenAnimation</key>
						<string>ChestOpen</string>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteBody</key>
						<true/>
					</dict>
					<key>RememberTo</key>
					<dict>
						<key>NeverRewardAgain</key>
						<true/>
						<key>NeverShowAgain</key>
						<false/>
						<key>RemainOpen</key>
						<true/>
						<key>RemoveText</key>
						<true/>
					</dict>
				</dict>
				<key>CastleKey</key>
				<dict>
					<key>Rewards</key>
					<dict>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>DeleteFromLevel</key>
						<true/>
					</dict>
					<key>RemoveWhen</key>
					<dict>
						<key>CastleKey</key>
						<integer>1</integer>
					</dict>
				</dict>
			</dict>
			<key>Rewards - OFF</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Weapon</key>
				<string></string>
				<key>CastleKey</key>
				<integer>0</integer>
				<key>Currency</key>
				<integer>0</integer>
				<key>Class</key>
				<string></string>
			</dict>
			<key>Clear - OFF</key>
			<array>
				<string>CastleKey</string>
			</array>
		</dict>
		<key>Dungeon</key>
		<dict>
			<key>Properties</key>
			<dict>
				<key>CameraFollowsPlayer</key>
				<true/>
				<key>CameraOffset</key>
				<string>{0, 0}</string>
				<key>ContinuePoint</key>
				<true/>
				<key>DisableAttack</key>
				<false/>
				<key>Clear</key>
				<dict/>
				<key>Rewards</key>
				<dict>
					<key>Health</key>
					<string></string>
					<key>Projectile / Weapon</key>
					<string></string>
					<key>Inventory</key>
					<string></string>
					<key>Currency</key>
					<string></string>
					<key>Class</key>
					<string></string>
				</dict>
			</dict>
			<key>NPC</key>
			<dict>
				<key>DungeonVillager1</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Did you hear about the disturbance at the cave last night</string>
						<string>My brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking on that cave?</string>
						<string>Tick, tock. How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange1</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<true/>
				</dict>
				<key>DungeonVillager2</key>
				<dict>
					<key>Front</key>
					<string>VillagerFront</string>
					<key>Back</key>
					<string>VillagerBack</string>
					<key>Left</key>
					<string>VillagerLeft</string>
					<key>Right</key>
					<string>VillagerRight</string>
					<key>BaseImage</key>
					<string>VillagerBase</string>
					<key>InitialSpeech</key>
					<array>
						<string>Did you hear about the disturbance at the cave last night</string>
						<string>My brother heard something odd at the cave last night</string>
					</array>
					<key>ReminderSpeech</key>
					<array>
						<string>Did you ever get around to checking on that cave?</string>
						<string>Tick, tock. How about that cave?</string>
					</array>
					<key>Range</key>
					<string>VillagerRange2</string>
					<key>Icon</key>
					<string>VillagerIcon</string>
					<key>Collidable</key>
					<false/>
				</dict>
			</dict>
			<key>Items</key>
			<dict>
				<key>DungeonCastle</key>
				<dict>
					<key>Requires</key>
					<dict>
						<key>Inventory</key>
						<string>Nothing</string>
						<key>Amount</key>
						<integer>0</integer>
						<key>DeductOnEntry</key>
						<false/>
						<key>TimeToOpen</key>
						<integer>0</integer>
					</dict>
					<key>Rewards</key>
					<dict>
						<key>Health</key>
						<string></string>
						<key>Weapon</key>
						<string></string>
						<key>Inventory</key>
						<string></string>
						<key>Currency</key>
						<string></string>
						<key>Class</key>
						<string></string>
					</dict>
					<key>Text</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>PortalTo</key>
					<dict>
						<key>Level</key>
						<string>Grassland</string>
						<key>Where</key>
						<string>EntryPoint</string>
					</dict>
					<key>AltPortalTo</key>
					<dict>
						<key>Level</key>
						<string></string>
						<key>Where</key>
						<string></string>
					</dict>
					<key>Sounds</key>
					<dict>
						<key>Locked</key>
						<string></string>
						<key>Open</key>
						<string></string>
					</dict>
					<key>Appearance</key>
					<dict>
						<key>OpenImage</key>
						<string></string>
						<key>OpenAnimation</key>
						<string></string>
					</dict>
					<key>AfterContact</key>
					<dict>
						<key>NeverRewardAgain</key>
						<false/>
						<key>NeverShowAgain</key>
						<false/>
						<key>DeleteFromLevel</key>
						<false/>
						<key>DeleteBody</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Items</key>
	<dict>
		<key>Castle</key>
		<dict>
			<key>Requires</key>
			<dict>
				<key>Inventory</key>
				<string>Key</string>
				<key>Amount</key>
				<integer>50</integer>
				<key>DeductOnEntry</key>
				<false/>
				<key>TimeToOpen</key>
				<integer>0</integer>
			</dict>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Weapon</key>
				<string></string>
				<key>Inventory</key>
				<string></string>
				<key>Currency</key>
				<integer>0</integer>
				<key>ClassName</key>
				<string></string>
			</dict>
			<key>Text</key>
			<dict>
				<key>Locked</key>
				<string></string>
				<key>Open</key>
				<string></string>
			</dict>
			<key>PortalTo</key>
			<dict>
				<key>Level</key>
				<string></string>
				<key>Where</key>
				<string></string>
			</dict>
			<key>AltPortalTo</key>
			<dict>
				<key>Level</key>
				<string></string>
				<key>Where</key>
				<string></string>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>Locked</key>
				<string></string>
				<key>Open</key>
				<string></string>
			</dict>
			<key>Appearance</key>
			<dict>
				<key>OpenImage</key>
				<string></string>
				<key>OpenAnimation</key>
				<string></string>
			</dict>
			<key>AfterContact</key>
			<dict>
				<key>DeleteFromLevel</key>
				<false/>
				<key>DeleteBody</key>
				<false/>
			</dict>
			<key>RememberTo</key>
			<dict>
				<key>NeverRewardAgain</key>
				<false/>
				<key>NeverShowAgain</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>Class</key>
	<dict>
		<key>Starting</key>
		<dict>
			<key>Animation</key>
			<dict>
				<key>Back</key>
				<dict>
					<key>Walk</key>
					<string>WalkBack</string>
					<key>Melee</key>
					<string>BackAttack</string>
					<key>Projectile</key>
					<string></string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleBack</string>
				</dict>
				<key>Front</key>
				<dict>
					<key>Walk</key>
					<string>WalkFront</string>
					<key>Melee</key>
					<string>FrontAttack</string>
					<key>Projectile</key>
					<string></string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleFront</string>
				</dict>
				<key>Left</key>
				<dict>
					<key>Walk</key>
					<string>WalkLeft</string>
					<key>Melee</key>
					<string>LeftAttack</string>
					<key>Projectile</key>
					<string></string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleLeft</string>
				</dict>
				<key>Right</key>
				<dict>
					<key>Walk</key>
					<string>WalkRight</string>
					<key>Melee</key>
					<string>RightAttack</string>
					<key>Projectile</key>
					<string></string>
					<key>Hurt</key>
					<string></string>
					<key>Idle</key>
					<string>IdleRight</string>
				</dict>
			</dict>
			<key>Sounds</key>
			<dict>
				<key>Melee</key>
				<string></string>
				<key>Projectile</key>
				<string></string>
				<key>Hurt</key>
				<string></string>
				<key>Death</key>
				<string></string>
			</dict>
			<key>Melee</key>
			<dict>
				<key>Damage</key>
				<integer>0</integer>
				<key>Size</key>
				<string>{100,100}</string>
				<key>ScaleTo</key>
				<integer>3</integer>
				<key>Animation</key>
				<string>Attacking</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Ranged</key>
			<dict>
				<key>Projectile</key>
				<string>Sword</string>
				<key>TimeBetweenUse</key>
				<integer>0</integer>
			</dict>
			<key>Stats</key>
			<dict>
				<key>ClassName</key>
				<string>Peasant</string>
				<key>PathSpeed</key>
				<integer>200</integer>
				<key>Speed</key>
				<integer>150</integer>
				<key>MaxHealth</key>
				<integer>20</integer>
				<key>MaxArmor</key>
				<integer>10</integer>
				<key>Immunity</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>Settings</key>
	<dict>
		<key>PathAlpha</key>
		<real>0.2</real>
		<key>WalkWithPath</key>
		<false/>
		<key>AttackAnywhere</key>
		<false/>
	</dict>
	<key>Projectiles</key>
	<dict>
		<key>Sword</key>
		<dict>
			<key>Image</key>
			<string>Sword</string>
			<key>Animation</key>
			<string></string>
			<key>ContactAnimation</key>
			<string></string>
			<key>TravelTime</key>
			<integer>1</integer>
			<key>Distance</key>
			<integer>300</integer>
			<key>RotationTime</key>
			<real>0.5</real>
			<key>Damage</key>
			<integer>1</integer>
			<key>Remove</key>
			<true/>
		</dict>
	</dict>
	<key>XP</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Level 1</string>
			<key>Max</key>
			<integer>200</integer>
			<key>Rewards</key>
			<dict>
				<key>Health</key>
				<integer>0</integer>
				<key>Armor</key>
				<integer>0</integer>
				<key>XP</key>
				<integer>0</integer>
				<key>Currency</key>
				<integer>0</integer>
				<key>ClassName</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
